.container {
  padding: 8px;
  box-shadow: 3px 3px 11px 3px rgb(0 0 0 / 32%);
}
.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 50px;
}
.item {
  margin: 0px 16px;
}
.wrap-logo {
  align-self: flex-start;
}
@media (max-width: 600px) {
  .list {
    list-style: none;
    display: flex;
    justify-content: center;
    position: unset;
    right: 50px;
    z-index: 1;
    padding-inline-start: 0;
  }
  .container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
